@import url(./variables.css);

.buscador{
    padding: var(--pading-section);
}

.buscador__container{
    display: flex;
    flex-direction: column;
    padding: var(--padding-container);
    gap: 1rem;
    max-width: var(--max-width-container);
}

.buscador__input{
    max-width: 20rem;
}

.buscador__resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.buscador__plato{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.125rem solid var(--main-text-color);
    padding: 1em;
    align-items: center;
}

.buscador__plato-image-container{
    display: flex;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    align-items: center;
}

.buscador__plato-image{
    width: 100%;
}

.buscador__plato-title{
    margin: 0;
}

.buscador__plato-precio{
    margin: 0;
}

.buscador__plato-boton{
    width: fit-content;
}

.row{
    display: flex;
}

@media(min-width:854px){
    .buscador__resultados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: var(--max-width-container);
        margin: 0;
        padding: 0;
    }
}