@import url(./header.css);
@import url(./footer.css);
@import url(./section.css);


:root {
    --primary-theme-color: #000000;
    --secondary-theme-color: #ff0000;
    --text-color: #fff;
    --primary-shadow-color: #867e7e88;
    --primary-highlight: #eccb0c;
    --secondary-highlight: #ffd700;
    --pading-section: 2em 0;
    --padding-container: 0 2em;
    --max-width-container: 1920px;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
    --button-color: #ffffff;
    --button-color-active: #fff;
    --button-text-color: #000;
}

.body {
    background-color: var(--secondary-theme-color);
    color: var(--text-color);
    font-family: 'Cookie', cursive;
    margin: 0;
}

.main__conteiner {
    display: flex;
    margin-top: 5rem;
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.main__parrafo {
    margin: 1rem 1rem;
}

.main__img {
    width: 70%;
    border-radius: 2rem;
}

@media (min-width: 650px) {
    :root {
        --padding-container: 0 0.75em;
    }

    .main__img {
        width: 500px;
    }
}