/* Se uso para el contenido en BOOTSTRAP */
.main__carrousel {
    margin-top: 7rem;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-image: url("/img/leña-fondo.jpg");

}

.about__message {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

@media (min-width: 854px) {
    .about__message {
        text-align: start;
        gap: 2rem;
    }
}

.about__message-title {
    font-weight: 800;
    margin: 0;
}

.about__message-subtitle {
    font-weight: 400;
    margin: 0;
}

.about__message-paragraph {
    font-weight: 300;
    margin: 0;
    text-align: justify;
}

.about__phrase {
    font-weight: 300;
    margin: 0;
    text-align: center;
}


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1024px;
    margin: auto;
    padding: var(--padding-container);
}


.menu__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

/* Se uso para el contenido en BOOTSTRAP */

.menu__link {
    text-decoration: none;
}

.menu__image {
    max-width: 7.813rem;
    height: 7.813rem;
    border-radius: 50%;
    border: solid #ffffff;
}

.menu__image:hover {
    filter: brightness(150%);
}

.menu__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    color: #000000;
    text-shadow: 0 0 0.2rem #ffffff;
}

.menu__text:hover {
    transform: scale(1.125);
}

.main__publicity-container {
    display: flex;
    justify-content: center;

}

.main__publicity-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    font-size: 0.938rem;
    color: #000000;
    text-shadow: 0 0 0.2rem #ffffff;
}

.main__publicity-image {
    display: none;
}

@media (min-width: 854px) {
    .about-container {
        display: flex;
        gap: 2rem;
        margin: auto;
    }

    .about__message-title {
        font-weight: 800;
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .about__message-subtitle {
        font-weight: 400;
        margin: 0;
        text-align: center;
    }

    .about__message-paragraph {
        font-weight: 300;
        font-size: 20px;
        margin: 0;
        text-align: justify;
    }

    .about__phrase {
        font-weight: 700;
        font-size: 25px;
        margin: 0;
        text-align: center;
    }

    .main__publicity-image {
        display: flex;
        margin: 0 2rem;
        width: 20rem;
    }

    .menu__container {
        margin-top: 10rem;
        padding-top: 2rem;
    }

}